
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('assets/law1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Nav -->
        <div id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                    <ul class="main-nav nav navbar-nav navbar-left">
                    <li><a href="" style="font-size:30px;">Interactive Law</a></li>
                    </ul>


                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    
                    <li><a simplePageScroll href="#about">Features</a></li>
                    <li><a simplePageScroll href="#team">Team</a></li>
                    <li><a simplePageScroll href="#contact">Contact</a></li>
                    <li> <a class="mouse" [routerLink] = "['/profile']" *ngIf="authservice.isloggedin()"> Profile</a> </li>
                </ul>
                <!-- /Main navigation -->
            
            </div>

        <!-- Nav -->
        <div class= "jumbotron">
                <div class="container" >
                        <ul class="row">
    
                        <li class="col-md-2"><form >
    
                               
    
          <input (keyup.enter)="onEnterSearch()" [(ngModel)]="keyword"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Keyword" aria-label="Search"></form></li>
          <li class="col-md-2"><form >
          <input (keyup.enter)="onEnterSearch()" [(ngModel)]="chaptername"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Chapter Name" aria-label="Search"  ></form></li>
          <li class="col-md-2"><form >
          <input (keyup.enter)="onEnterSearch()" [(ngModel)]="chapternumber"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Chapter Number" aria-label="Search"  ></form></li>
          <li class="col-md-2"><form  >
          <input (keyup.enter)="onEnterSearch()" [(ngModel)]="articlename" style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Article Name" aria-label="Search" ></form></li>
          <li class="col-md-2"><form>
          <input (keyup.enter)="onEnterSearch()" [(ngModel)]="articlenumber"   style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Article Number" aria-label="Search"></form></li>
    
    
     <li class="col-md-2" style="margin-top:5px;"> <button  class="btn btn-primary" type="submit" (click) = "clicked()">Search</button></li>
    
    
                        </ul>
                        <!-- /Logo -->
    
                        <!-- Collapse nav button -->
                        <div class="nav-collapse">
                            <span></span>
                        </div>
                        <!-- /Collapse nav button -->
    
                </div>
            </div>
            <!-- /Nav -->

        </div>
        <!-- /Nav -->

        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Interactive Pakistan Law</h1>
                            <p class="white-text"> Learn the Law in more understanding, easy and user-friendly manner.
                            </p>
                            <button *ngIf="!authservice.isloggedin()" [routerLink] = "['/register']" class="white-btn">SignUp</button>
                            <button *ngIf="authservice.isloggedin()" [routerLink] = "['/profile']" class="main-btn">Go To Profile</button>
                            <button *ngIf="!authservice.isloggedin()" [routerLink] = "['/login']" class="main-btn">LogIn</button>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>



    <!-- /Header -->

    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Features We Provide</h2>
                </div>
                <!-- /Section header -->

                <!-- about -->
                <div class="row">
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3>CrowdSourcing</h3>
                        <p>Crowd source your understanding to make people understand what the Law means. Translate and explain for the people.</p>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3>Searchable</h3>
                        <p>Interactive Law provides in depth search capabilities to user to find exactly what they want to with just a click of a button.</p>
                    </div>
                </div>
                <!-- /about -->

                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3>Direct Links</h3>
                        <p>Interactive Law provides links to different sources of law platforms for you to have a diverse group of resources.</p>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3>Legal Dictionary</h3>
                        <p>Find the meaning to any word with integrated dictionary in the platform to reduce hindrance in the process of learning.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3>Ammendments</h3>
                        <p>Up to date ammendments and modifications are added frequently to the platform to keep its users updated and moving forward.</p>
                    </div>
                </div>

                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->

    <!-- Numbers -->
    <div id="numbers" class="section sm-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('assets/law1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-users"></i>
                        <h3 class="white-text"><span class="counter">28</span></h3>
                        <span class="white-text">Chapters</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-trophy"></i>
                        <h3 class="white-text"><span class="counter">280</span></h3>
                        <span class="white-text">Articles</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-coffee"></i>
                        <h3 class="white-text"><span class="counter">27</span></h3>
                        <span class="white-text">Ammendments</span>
                    </div>
                </div>
                <!-- /number -->

                <!-- number -->

                <!-- /number -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Numbers -->

    <!-- Team -->
    <div id="team" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Our Team</h2>
                </div>
                <!-- /Section header -->

                <!-- team -->
                <div class="col-sm-4">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="assets/Sohaib.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="https://www.facebook.com/sohaib.arshid.9"><i class="fa fa-facebook"></i></a>
                                    <a href="https://plus.google.com/+SohaibArshid"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Sohaib Arshid</h3>
                            <span>Web Designer</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->

                <!-- team -->
                <div class="col-sm-4">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="assets/talal.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="https://www.facebook.com/talal.muneer"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Talal Muneer</h3>
                            <span>Web Designer</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->

                <!-- team -->
                <div class="col-sm-4">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="assets/me.jpg" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="https://www.facebook.com/sheikh.m.zia.7"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>Muneeb Zia</h3>
                            <span>Web Designer</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Team -->

    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">Get in touch</h2>
                </div>
                <!-- /Section-header -->

                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-phone"></i>
                        <h3>Phone</h3>
                        <p>03234868883</p>
                    </div>
                </div>
                <!-- /contact -->

                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>luminite143@gmail.com</p>
                    </div>
                </div>
                <!-- /contact -->

                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-map-marker"></i>
                        <h3>Address</h3>
                        <p>Lums,Lahore</p>
                    </div>
                </div>
                <!-- /contact -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->


    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="index.html"><i class="fa fa-gavel fa-4x"> </i> </a>
                    </div>
                    <!-- /footer logo -->

                    <!-- footer follow -->
                    <!-- <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul> -->
                    <!-- /footer follow -->

                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2017. All Rights Reserved to Lahore University of Management Sciences, Lahore</p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div> -->
    <!-- /Preloader -->
