<!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('assets/law1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Nav -->
        <div id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        
                            <!-- <img class="logo" src="img/logo.png" alt="logo">
                            <img class="logo-alt" src="img/logo-alt.png" alt="logo"> -->
                    <ul class="main-nav nav navbar-nav navbar-left">
                    <li><a href="" style="font-size:30px;">Interactive Law</a></li>
                    <!-- <li> <i class="fa fa-gavel fa-3x" style="color:blue;"></i> </li> -->

                    <li><form class="form-inline my-2 my-lg-0" >
      <input   name="search" class="form-control mr-lg-4" type="text" placeholder="Search Article" aria-label="Search" (change) = "search($event)" (keyup.enter)="onEnterSearch()"> 
       
    </form> </li>
    <li style="margin-top:5px;"> <button  class="btn btn-outline-success" type="submit" (click) = "clicked()">Search</button></li>
    

                    </ul>
                            
                        
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                     <li><a href="/browse">Browse</a></li>
                    <li><a href="">Home</a></li>
                    
                    <!-- <li class="has-dropdown"><a href="#blog">Blog</a>
                        <ul class="dropdown">
                            <li><a href="blog-single.html">blog post</a></li>
                        </ul>
                    </li> -->
                    <li><a simplePageScroll href="#contact">Contact</a></li>
                   <li> <a href="/profile" *ngIf="authService.isloggedin()"> Profile</a> </li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </div>
        <!-- /Nav -->

        <!-- home wrapper -->
        <div id="head2" class="home-wrapper" #head2>
            <div class="container">
                <div class="row">

                    
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Interactive Pakistan Law</h1>
                            <p class="white-text"> Learn the Law in more understanding, easy and user-friendly manner.
                            </p>
                            <button *ngIf="!authService.isloggedin()" [routerLink] = "['/register']" class="white-btn">SignUp</button>
                            <button *ngIf="!authService.isloggedin()" [routerLink] = "['/login']" class="main-btn">LogIn</button>
                            <button *ngIf="authService.isloggedin()" [routerLink] = "['/profile']" class="main-btn">Go To Profile</button>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>


     <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container" id="article">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Search Results</h2>
                </div>
                <!-- /Section header -->

                <!-- about -->
                <div *ngIf="articlelist" class="row">
                <div *ngFor="let art of articlelist"  class="col-md-3" [ngsReveal]="{ duration: 2000,
          origin:'left',
          distance:'100px'}">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3> Article {{art.number}}</h3>
                        <p>{{art.title}}</p>
                        <a id={{art.number}} class="mouse" (click)="show($event);">Read more</a>
                    </div>
                </div>

                
                <!-- /about -->

                <!-- about -->
                </div>
                <!-- /about -->
                <div *ngIf="noarticle" class="col-md-3" [ngsReveal]="{ duration: 2000,
          origin:'left',
          distance:'100px'}">
                    <div class="about">
                        <i class="fa fa-gavel"></i>
                        <h3> No Search Found</h3>
                        
                    </div>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>



<div id="articledetail">

  <div *ngIf="articletoshow" class="container">
  <div id="blog">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- Main -->
           <aside id="aside" class="col-md-3">

          <!-- Search -->
          
          <!-- /Search -->

          <!-- Category -->
          <div class="widget">
            <h3 class="title">DirectLinks</h3>
            <div class="widget-category">
              <a href="http://www.pakistani.org/pakistan/constitution/">Constitution of Pakistan</a>
              <a href="http://www.urdupdfbooks.com/2012/11/the-1973-constitution-of-pakistan-urdu.html">Urdu Version of Constitution</a>
              
            </div>
          </div>

          <div class="widget">
            <h3 class="title">Dictionary</h3>
            <div class="widget-category">
              <input   name="search" class="form-control mr-lg-4" type="text" placeholder="Find Meaning" aria-label="Search" (change) = "searchformeaning($event)" (keyup.enter)="onEnter()">
              <button  class="btn btn-outline-success" type="submit" (click) = "meaningclicked()">Find</button>
            </div>
          </div>

          <div *ngIf="word" class="widget">
            <h3 class="title">Meaning</h3>
            <div class="widget-category">
              {{meaning}}
            </div>
          </div>
          <!-- /Category -->

          <!-- Posts sidebar -->
          <div class="widget">
            <h3 class="title">Ammendments</h3>

            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1999</li>
              </ul>
            </div>
            <!-- /single post -->

            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 2000</li>
              </ul>
            </div>
            <!-- /single post -->


            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1987</li>
              </ul>
            </div>
            <!-- /single post -->

          </div>
          <!-- /Posts sidebar -->

          <!-- Tags -->
     
          <!-- /Tags -->

        </aside>
        <main id="main" class="col-md-9">
          <div class="blog">
            <div class="blog-content">
              <ul class="blog-meta">
                <!-- <li><i class="fa fa-user"></i>John doe</li>
                <li><i class="fa fa-clock-o"></i>18 Oct</li>
                <li><i class="fa fa-comments"></i>57</li> -->
              </ul>
              <div class="section-header text-center">
                    <h2 class="title">{{articletoshow.title}}</h2>
                    <h2 class="title">Article: {{articletoshow.number}}</h2>

                </div>
              <p *ngFor ="let t of articletoshow.text"> <!-- span style="background-color: #FFFF00">Women</span> -->
              {{t}}
              </p>
            </div>

            <!-- blog tags -->
            <div class="blog-tags">
              <h5>Tags :</h5>
               <a class = "mouse" id="{{t}}" (click)="tagclick($event)"_ *ngFor="let t of articletoshow.tags">{{t}}</a>
            </div>
            <div class="blog-tags">
              <h5>Last Modified : </h5> <div style="display:inline; font-size:15px"> {{articletoshow.lastmodified}} </div> 
               
            </div>

            <br>
            <br>

            <div *ngIf="articletoshow" class="container">
    <div class="row">
        
        <div *ngFor = "let comm of articletoshow.crowdsource" class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="assets/me.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{comm.username}}</b></a>
                            made a Contribution.
                            <div class="row">
                              <div class="col-md-4">
                                <p>{{comm.date}}</p>
                              </div>
                              <div class="col-md-8">
                               <p> <strong> Language: </strong> {{comm.language}}</p>
                              </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{comm.contrib}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

             
            <!-- blog tags -->

          
            <!-- /blog author -->

            <!-- blog comments -->
                       <!-- /blog comments -->

            <!-- reply form -->
            
            <!-- /reply form -->
          </div>
        </main>
        <!-- /Main -->


        <!-- Aside -->
     
        <!-- /Aside -->

      </div>
      <!-- /Row -->

       
    </div>
    <!-- /Container -->
    
   


  </div>
  </div>
  </div>

<div class="fb-comments" data-href="https://www.facebook.com/azizhamwatnon1/videos/1297930630351051/?hc_ref=ARTjuD2JSOV1auPaLpZNHTYCDAy7fi1iEdnFWTrNJPn3RDOCULqGjNJJBl3d5G4mkn0&pnref=story" data-numposts="10"> </div>





  <!-- /Blog -->

  <!-- Footer -->
  <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="index.html"><i class="fa fa-gavel fa-4x"> </i> </a>
                    </div>
                    <!-- /footer logo -->

                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /footer follow -->

                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Codesol</a></p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    
    <!-- /Back to top -->

    <!-- Preloader -->
   
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    


