<header id="home">
<div class="bg-img" style="background-image: url('assets/law1.jpg');">
    <div class="overlay"></div>
</div>
<!-- Nav -->
<div id="nav" class="navbar nav-transparent">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
            <ul class="main-nav nav navbar-nav navbar-left">
            <li><a href="" style="font-size:30px;">Interactive Law</a></li>
            <!-- <li> <i class="fa fa-gavel fa-3x" style="color:blue;"></i> </li> -->

      


            </ul> 


            </div>
            <!-- /Logo -->

            <!-- Collapse nav button -->
            <div class="nav-collapse">
                <span></span>
            </div>
            <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
        <ul class="main-nav nav navbar-nav navbar-right">
            <li><a href="">Home</a></li>


            <!-- <li class="has-dropdown"><a href="#blog">Blog</a>
                <ul class="dropdown">
                    <li><a href="blog-single.html">blog post</a></li>
                </ul>
            </li> -->
            
            <li> <a class="mouse" [routerLink]="['/profile']" *ngIf="authservice.isloggedin()"> Profile</a> </li>
        </ul>

        <!-- /Main navigation -->

    </div>
    


        <!-- Nav -->
        <div class= "jumbotron">
            <div class="container" >
                    <ul class="row">

                    <li class="col-md-2"><form >

                           

      <input (keyup.enter)="onEnterSearch()" [(ngModel)]="keyword"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Keyword" aria-label="Search"></form></li>
      <li class="col-md-2"><form >
      <input (keyup.enter)="onEnterSearch()" [(ngModel)]="chaptername"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Chapter Name" aria-label="Search"  ></form></li>
      <li class="col-md-2"><form >
      <input (keyup.enter)="onEnterSearch()" [(ngModel)]="chapternumber"  style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Chapter Number" aria-label="Search"  ></form></li>
      <li class="col-md-2"><form  >
      <input (keyup.enter)="onEnterSearch()" [(ngModel)]="articlename" style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Article Name" aria-label="Search" ></form></li>
      <li class="col-md-2"><form>
      <input (keyup.enter)="onEnterSearch()" [(ngModel)]="articlenumberold"   style = "border: 2px solid blue;" name="search" class="form-control mr-lg-4" type="text" placeholder="Article Number" aria-label="Search"></form></li>


 <li class="col-md-2" style="margin-top:5px;"> <button  class="btn btn-primary" type="submit" (click) = "clicked()">Search</button></li>


                    </ul>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->

            </div>
        </div>
        <!-- /Nav -->





</div>
<div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Crowdsourcing Platform</h1>
                            <p class="white-text" style="font-size: 20px">Search for Article you want to crowdsource and explain <p>
                        </div>
                    </div>
                    <!-- /home content -->

                </div><form class="form-inline my-2 my-lg-0" >
<input   name="searcharticlenumber" class="form-control mr-lg-4" type="text" placeholder="Search Article" aria-label="Search" (change) = "search_articlenumber($event)" (keyup.enter)="onEnterCS()">

</form>
<li style="margin-top:5px;"> <button simplePageScroll class="btn btn-outline-success" type="submit" href="#article">CrowdSource</button></li>
            </div>

</div>

        

     </header>   



<br><br>
<div class="container">
     <div *ngIf="article" id="article">
  <div id="blog">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- Main -->
        <main id="main" class="col-md-9">
          <div class="blog">
            <div class="blog-content">
              <ul class="blog-meta">
              </ul>
              <div class="section-header text-center">
                    <h2 class="title">{{article.title}}</h2>
                    <h2 class="title">Article: {{article.number}}</h2>
                </div>
              <p *ngFor ="let t of articletext"> <!-- span style="background-color: #FFFF00">Women</span> -->
              {{t}}
              </p>
            </div>

            <!-- blog tags -->
            <!-- <div class="blog-tags">
              <h5>Tags :</h5>
               <a href="#" *ngFor="let t of article.tags">{{t}}</a>
            </div> -->
            <div class="blog-tags">
              <h5>Last Modified : </h5> <div style="display:inline; font-size:15px"> {{article.lastmodified}} </div> 



              
               
            </div>

          </div>
        </main>
        <!-- /Main -->


        <!-- Aside -->
        <aside id="aside" class="col-md-3">

          <!-- Search -->
          
          <!-- /Search -->

          <!-- Category -->
                   <div class="widget">
            <h3 class="title">DirectLinks</h3>
            <div class="widget-category">
              <a href="http://www.pakistani.org/pakistan/constitution/">Constitution of Pakistan</a>
              <a href="http://www.urdupdfbooks.com/2012/11/the-1973-constitution-of-pakistan-urdu.html">Urdu Version of Constitution</a>
              
            </div>
          </div>
          <div class="widget">
            <h3 class="title">Dictionary</h3>
            <div class="widget-category">
              <input   name="search" class="form-control mr-lg-4" type="text" placeholder="Find Meaning" aria-label="Search" (change) = "searchformeaning($event)" (keyup.enter)="onEnter()">
              <button  class="btn btn-outline-success" type="submit" (click) = "meaningclicked()">Find</button>
            </div>
          </div>

          <div *ngIf="word" class="widget">
            <h3 class="title">Meaning</h3>
            <div class="widget-category">
              {{meaning}}
            </div>
          </div>
          <!-- /Category -->

          <!-- Posts sidebar -->
          <div class="widget">
            <h3 class="title">Ammendments</h3>

            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1999</li>
              </ul>
            </div>
            <!-- /single post -->
            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1987</li>
              </ul>
            </div>
            <!-- /single post -->

          </div>
          <!-- /Posts sidebar -->

        </aside>
        <!-- /Aside -->

      </div>
      <!-- /Row -->

       
    </div>
    <!-- /Container -->
    
   


  </div>
  </div>
  <!-- <div id="article">

  </div> -->


<div *ngIf="article" id="crowdsource" class="container">
  <h2>Crowdsource Article: {{article.number}}</h2>
  <h3>You can Translate, Explain and contibute for better understanding</h3>
  
  <form>
    <div class="form-group">
      <label for="comment">Contribution:</label>
      <textarea name="comment" [(ngModel)]="comment" class="form-control" rows="5" id="comment"></textarea>
      <br>
      <p><b>Language you used for crowdsourcing:</b> </p>
      <label class="checkbox-inline"><input name = "lang" type="radio" value="english" checked="checked" [(ngModel)]="lang">English</label>
      <label class="checkbox-inline"><input name = "lang" type="radio" value="urdu" [(ngModel)]="lang">Urdu</label>
      <label class="checkbox-inline"><input name = "lang" type="radio" value="Roman Urdu" [(ngModel)]="lang">Roman Urdu</label>
      <label class="checkbox-inline"><input name = "lang" type="radio" value="other" [(ngModel)]="lang">Other</label>      
      <br>
      <br>
      
<div class="row">
  <div class="col-md-2">
    <button (click) ="commentclicked()"  class="btn btn-primary"> Contribute</button>
  </div>

   <div *ngIf="badword==true" class="col-md-10">
    <div class="alert alert-danger">
  <strong>Warning!</strong> Your comment cannot be posted due to inappropriate words.
</div>
  </div>
</div>
      
    </div>
  </form>
</div>

  <div *ngIf="article" class="container">
    <div class="row">
        
        <div *ngFor = "let comm of article.crowdsource" class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="assets/me.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{comm.username}}</b></a>
                            made a Contribution.
                            <div class="row">
                              <div class="col-md-4">
                                <p>{{comm.date}}</p>
                              </div>
                              <div class="col-md-8">
                               <p> <strong> Language: </strong> {{comm.language}}</p>
                              </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{comm.contrib}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

