<header id="home">
  <div class="bg-img" style="background-image: url('assets/law1.jpg');">
      <div class="overlay"></div>
  </div>
  <!-- Nav -->
  <div id="nav" class="navbar nav-transparent">
      <div class="container">
  
          <div class="navbar-header">
              <!-- Logo -->
              <div class="navbar-brand">
              <ul class="main-nav nav navbar-nav navbar-left">
              <li><a href="" style="font-size:30px;">Interactive Law</a></li>
              <!-- <li> <i class="fa fa-gavel fa-3x" style="color:blue;"></i> </li> -->
  
              <li><form class="form-inline my-2 my-lg-0" >
  <input   name="search" class="form-control mr-lg-4" type="text" placeholder="Search Article" aria-label="Search" (change) = "search($event)"  (keyup.enter)="onEnterSearch()">
  
  </form> </li>
  <li style="margin-top:5px;"> <button  class="btn btn-outline-success" type="submit" (click) = "clicked()">Search</button></li>
  
  
              </ul>
  
  
              </div>
              <!-- /Logo -->
  
              <!-- Collapse nav button -->
              <div class="nav-collapse">
                  <span></span>
              </div>
              <!-- /Collapse nav button -->
          </div>
  
          <!--  Main navigation  -->
          <ul class="main-nav nav navbar-nav navbar-right">
              <li><a href="">Home</a></li>
  
  
              <!-- <li class="has-dropdown"><a href="#blog">Blog</a>
                  <ul class="dropdown">
                      <li><a href="blog-single.html">blog post</a></li>
                  </ul>
              </li> -->
              
              <li> <a href="/profile" *ngIf="authservice.isloggedin()"> Profile</a> </li>
          </ul>
  
  
          
  
          <!-- /Main navigation -->
  
      </div>
  </div>
  <div class="home-wrapper">
              <div class="container">
                  <div class="row">
  
                      <!-- home content -->
                      <div class="col-md-10 col-md-offset-1">
                          <div class="home-content">
                              <h1 class="white-text">Easy Browsing for Quicker Access</h1> 
                              <h3 class= 'white-text'>Choose your browsing option</h3>
                              
                          </div>
                      </div>
                      <!-- /home content -->
                    </div><form class="form-inline my-2 my-lg-0" >
                        <button name="theme" type="button" class="btn btn-primary">Category/Theme</button>
                        <button name="ammend" type="button" class="btn btn-primary">Number of Ammendments</button>
                        <button name="lang" type="button" class="btn btn-primary">Crowdsourcing Language</button>
                        <button name="number" type="button" class="btn btn-primary">Article Number</button>
                        </form>
              </div>
  
  </div>
  
          
  
       </header> 
