<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<a href="" class="navbar-brand"><img src="assets/lawlogo.png" style="width: 100px; height: auto;"></a>
  <a class="navbar-brand"[routerLink] = "['/']"><strong style="font-size:23px">Interactive Law </strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-left">
      
      
    </ul>
	<form class="form-inline my-2 my-lg-0" style="margin-right: 300px">
      <input   name="search" class="form-control mr-sm-2" type="text" placeholder="Search Article" aria-label="Search" (change) = "search($event)">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) = "clicked()">Search</button>
    </form>    
    
    <ul class = "navbar-nav navbar-right">
    <li *ngIf="!authService.isloggedin()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <button style="margin-right:20px;" class="btn btn-primary btn-lg" [routerLink] = "['/login']"> <strong style="font-size:19px;">Login </strong></button>
     </li>

     <li *ngIf="!authService.isloggedin()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
         <button class="btn btn-primary btn-lg" [routerLink] = "['/register']"><strong style="font-size:19px">Register </strong></button>
     </li>
    
     <li *ngIf="authService.isloggedin()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink] = "['/dashboard']">Dashboard</a>
     </li>
     
     <li *ngIf="authService.isloggedin()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink] = "['/bookmarks']">Bookmarks</a>
     </li>

      <li *ngIf="authService.isloggedin()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink] = "['/profile']">Profile</a>
     </li>
     

     <li *ngIf="authService.isloggedin()" class="nav-item" >
        <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
     </li>

    </ul>
    
  </div>
</nav>