<header id="home">
<div class="bg-img" style="background-image: url('assets/law1.jpg');">
    <div class="overlay"></div>
</div>
<!-- Nav -->
<div id="nav" class="navbar nav-transparent">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
            <ul class="main-nav nav navbar-nav navbar-left">
            <li><a href="" style="font-size:30px;">Interactive Law</a></li>
            <!-- <li> <i class="fa fa-gavel fa-3x" style="color:blue;"></i> </li> -->

            <li><form class="form-inline my-2 my-lg-0" >
<input   name="search" class="form-control mr-lg-4" type="text" placeholder="Search Article" aria-label="Search" (change) = "search($event)">

</form> </li>
<li style="margin-top:5px;"> <button  class="btn btn-outline-success" type="submit" (click) = "clicked()">Search</button></li>


            </ul>


            </div>
            <!-- /Logo -->

            <!-- Collapse nav button -->
            <div class="nav-collapse">
                <span></span>
            </div>
            <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
        <ul class="main-nav nav navbar-nav navbar-right">
            <li><a href="">Home</a></li>


            <!-- <li class="has-dropdown"><a href="#blog">Blog</a>
                <ul class="dropdown">
                    <li><a href="blog-single.html">blog post</a></li>
                </ul>
            </li> -->
            
            <li> <a href="/profile" *ngIf="authservice.isloggedin()"> Profile</a> </li>
        </ul>


        

        <!-- /Main navigation -->

    </div>
</div>
<div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Crowdsourcing Platform</h1>
                            <p class="white-text" style="font-size: 20px">Search for Article you want to crowdsource and explain </p>
                        </div>
                    </div>
                    <!-- /home content -->

                </div><form class="form-inline my-2 my-lg-0" >
<input   name="searcharticlenumber" class="form-control mr-lg-4" type="text" placeholder="Search Article" aria-label="Search" (change) = "search_articlenumber($event)">

</form>
<li style="margin-top:5px;"> <button simplePageScroll class="btn btn-outline-success" type="submit" href="#article">CrowdSource</button></li>
            </div>

</div>

        

     </header>   



<br><br>
     <div *ngIf="article" class="container" id="article">
  <div id="blog">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- Main -->
        <main id="main" class="col-md-9">
          <div class="blog">
            <div class="blog-content">
              <ul class="blog-meta">
                <!-- <li><i class="fa fa-user"></i>John doe</li>
                <li><i class="fa fa-clock-o"></i>18 Oct</li>
                <li><i class="fa fa-comments"></i>57</li> -->
              </ul>
              <div class="section-header text-center">
                    <h2 class="title">{{article.title}}</h2>
                    <h2 class="title">Article: {{article.number}}</h2>
                </div>
              <p> <!-- span style="background-color: #FFFF00">Women</span> --> 
              {{article.text}}
              </p>
            </div>

            <!-- blog tags -->
            <div class="blog-tags">
              <h5>Tags :</h5>
               <a href="#" *ngFor="let t of article.tags">{{t}}</a>
            </div>
            <div class="blog-tags">
              <h5>Last Modified : </h5> <div style="display:inline; font-size:15px"> {{article.lastmodified}} </div> 
               
            </div>

             
            <!-- blog tags -->

          
            <!-- /blog author -->

            <!-- blog comments -->
                       <!-- /blog comments -->

            <!-- reply form -->
            
            <!-- /reply form -->
          </div>
        </main>
        <!-- /Main -->


        <!-- Aside -->
        <aside id="aside" class="col-md-3">

          <!-- Search -->
          
          <!-- /Search -->

          <!-- Category -->
          <div class="widget">
            <h3 class="title">DirectLinks</h3>
            <div class="widget-category">
              <a href="#">Article1_NationalAssembly</a>
              <a href="#">Article1_PakistanLaw</a>
              
            </div>
          </div>

          <div class="widget">
            <h3 class="title">Dictionary</h3>
            <div class="widget-category">
              <input   name="search" class="form-control mr-lg-4" type="text" placeholder="Find Meaning" aria-label="Search" (change) = "searchformeaning($event)">
              <button  class="btn btn-outline-success" type="submit" (click) = "meaningclicked()">Find</button>
            </div>
          </div>

          <div *ngIf="word" class="widget">
            <h3 class="title">Meaning</h3>
            <div class="widget-category">
              {{meaning}}
            </div>
          </div>
          <!-- /Category -->

          <!-- Posts sidebar -->
          <div class="widget">
            <h3 class="title">Ammendments</h3>

            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1999</li>
              </ul>
            </div>
            <!-- /single post -->

            <!-- single post -->
            <!-- /single post -->


            <!-- single post -->
            <div class="widget-post">
              <a href="#">
                <i class="fa fa-gavel fa-4x" style="width:86px; height:60px;"> </i> Ammendment #1
              </a>
              <ul class="blog-meta">
                <li>Oct 18, 1987</li>
              </ul>
            </div>
            <!-- /single post -->

          </div>
          <!-- /Posts sidebar -->

          <!-- Tags -->
     
          <!-- /Tags -->

        </aside>
        <!-- /Aside -->

      </div>
      <!-- /Row -->

       
    </div>
    <!-- /Container -->
    
   


  </div>
  </div>





<div *ngIf="article" class="container">
  <h2>Crowdsourcing And Comments</h2>
  
  <form>
    <div class="form-group">
      <label for="comment">Contribution:</label>
      <textarea name="comment" [(ngModel)]="comment" class="form-control" rows="5" id="comment"></textarea>
      <br>
      <button (click) ="commentclicked()"  class="btn btn-primary"> Comment</button>
    </div>
  </form>
</div>





  <div *ngIf="article" class="container">
    <div class="row">
        
        <div *ngFor = "let comm of commentlist" class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="assets/me.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Muneeb Zia</b></a>
                            made a post.
                        </div>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{comm}}</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Nav -->

<!-- <div class="btn-group">
  <button style="width:500px; margin-left:150px;margin-top:50px" type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Article <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li style="width:500px"><a href="#">Preamble</a></li>
    <li><a href="#">Part I: Introductory- [Articles 1-6]</a></li>
    <li><a href="#">Part II (Chap 1): Fundamental Rights [Articles 8-28]</a></li>
    <li><a href="#">Part II (Chap 2): Principles of Policy [Articles 29-40]</a></li>
    <li><a href="#">Part IV: </a></li>
    <li><a href="#">Article 7</a></li>
    <li><a href="#">Article 8</a></li>
    <li><a href="#">Article 9</a></li>
    <li><a href="#">Article 10</a></li>
    <li><a href="#">Article 11</a></li>
    <li><a href="#">Article 12</a></li>
    <li><a href="#">Article 13</a></li>
    <li><a href="#">Article 14</a></li>
    <li><a href="#">Article 15</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div> -->
